body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #4a3927;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    color: #463727;
}

.nav {
    height: 3rem;
    width: 100%;
    border-bottom: 1px solid #f47ff5;
    box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 9999;
}

.nav .logo {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0.5rem;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}

.nav .cta-nav {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    right: 0.5rem;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}

.cta-primary {
    text-decoration: none;
    cursor: pointer;
    background: #f47ff5;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid transparent;
    color: #463727;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -ms-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.58);
}

.cta-primary:hover {
    color: #f3f3f3;
    text-decoration: none;
    background-color: #463727;
    border-color: #f47ff5;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.header {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #faf0e6;
}

.avatar {
    border: 2px solid #f47ff5;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.50);
    background: url("../images/image1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.avatar:after,
.avatar:before {
    content: '';
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: -1rem;
}

.avatar:before {
    height: 5rem;
    width: 5rem;
    border: 3px solid #e09e58;
    left: 8rem;
    animation: play 3s ease-in 0s infinite;
}

.avatar:after {
    height: 1.7rem;
    width: 1.7rem;
    border: 2px solid #84684a;
    left: 13rem;
    animation: play 3s ease-in 1s infinite;
}

.avatar2 {
    border: 1px solid #f47ff5;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.50);
    background: url("../images/image1.jpg");
    background-position: center;
    background-size: cover;
    margin: auto;
}

.avatar2:after,
.avatar2:before {
    content: '';
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: -1rem;
}

.avatar2:before {
    height: 3rem;
    width: 3rem;
    border: 3px solid #e09e58;
    left: 1rem;
    animation: play 3s ease-in 1s infinite reverse;
}

.avatar2:after {
    height: 1rem;
    width: 1rem;
    border: 2px solid #84684a;
    left: auto;
    animation: play 3s ease-in 0s infinite alternate-reverse;
}
.cover {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(77, 62, 47, .85);
    z-index: 99999;
    overflow-x: hidden;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
.cover h5{
    color: #f3f3f3;
}
.popover-send {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 90%;
    max-width: 680px;
    transform: translate(-50%, -50%);
    background: #795548;
    margin: auto;
    padding: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: top .2s cubic-bezier(0.37, -0.42, 0.1, 1.86);
    -webkit-transition: top .2s cubic-bezier(0.37, -0.42, 0.1, 1.86);
    -moz-transition: top .2s cubic-bezier(0.37, -0.42, 0.1, 1.86);
    -ms-transition: top .2s cubic-bezier(0.37, -0.42, 0.1, 1.86);
    -o-transition: top .2s cubic-bezier(0.37, -0.42, 0.1, 1.86);
}
.success-popover {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.popover-send span {
    color: #fff;
    position: absolute;
    top: 2px;
    right: 2px;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}
.success-popover span {
    font-weight: 700;
    cursor: pointer;
}
.section {
    height: 400px;
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.50);
}

.section-design {
    background: aqua;
    border-top: 1px solid #f47ff5;
}

.section-dev {
    background: #faf0e6;
    border-top: 1px solid #463727;
}

.section-mobile {
    background: aqua;
}

.section img {
    height: 8rem;
}

.section-full {
    text-align: center;
    padding: 2rem 10% .5rem 10%;
}

.work-thumbnail {
    height: 200px;
    width: auto;
    background-color: #f47ff5;
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid aqua;
    border-radius: 5px;
}

.sawli-studio {
    background: url('../images/sawli-studio.jpg') top left;
    background-size: cover;
}

.work-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-me {
    background: rgba(0, 255, 163, 0.7);
    border-top: 1px solid #f47ff5;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.50);
    margin-top: 1rem;
}
.social-links {
    width: 30px;
    margin: 5px;
    display: inline-block;
    vertical-align: baseline;
}
.section-about {
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    height: auto;
}

.technologies {
    width: 100%;
    text-align: center;
}
.showcase {
    display: inline-block;
    margin: 1rem;
}
.showcase>div{
    margin-top: 5px;
}
.footer {
    height: 2.5rem;
    color: #f3f3f3;
    padding: 0 10%;
    display: flex;
    align-items: center;
}


@keyframes play {
    0%,
    100% {
        transform: translate(0, 0);
    }
    35% {
        transform: translate(1px, 5px);
    }
    55% {
        transform: translate(-3px, -10px);
    }
    75% {
        transform: translate(-10px, 5px);
    }
    90% {
        transform: translate(-3px, 0px);
    }
}

@media only screen and (min-width: 960px) {
    .section {
        margin: auto;
        margin-top: 2rem;
        box-shadow: 0 0 20px -2px rgb(0, 0, 0), 0 0 50px -10px rgb(0, 0, 0);
        border-radius: 5px;
    }
    .nav .logo {
        left: 3rem;
    }
    .nav .cta-nav {
        right: 3rem;
    }
}